<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>Tibet Doctor </title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

    <!--<form class="form-horizontal" th:action="@{/logout}" method="post">-->
    <!--<div class="form-group">-->
    <!--<div class="col-sm-10"><h2>Patient Details</h2></div>-->
    <!--<div class="col-sm-2" style="padding-top: 25px;">
 <span sec:authorize="isAuthenticated()">
      <input type="submit" value="Sign Out"/>
   </span>

    </div>-->
    <!--</div>-->
    <!--<div class="form-group">-->
    <!--     <div class="form-horizontal">
             <label class="col-sm-2 control-label">Patient Id:</label>
             <div class="col-sm-10">
                 <p class="form-control-static" th:text="${patient.id}">Patient Id</p></div>
         </div>
         &lt;!&ndash;<div class="form-group">&ndash;&gt;
         <div class="form-horizontal">
             <label class="col-sm-2 control-label">Name:</label>
             <div class="col-sm-10">
                 <p class="form-control-static" th:text="${patient.name}">Name</p>
             </div>
         </div>-->

    <div class="col-sm-10"><h3>Пациент</h3></div>

    <table class="table table-striped">
          <tr>
              <!--<th>Id</th>-->
              <th>пол</th>
              <th>фамилия</th>
              <th>имя</th>
              <th>отчество</th>
              <th>дата рождения</th>
              <th>телефон</th>
              <th>email</th>
              <th>доп.инфа</th>
          </tr>
        <tr>
            <td th:text="${patient.sex}">sex</td>
            <td th:text="${patient.surname}">surname2</td>
            <td th:text="${patient.name}">name</td>
            <td th:text="${patient.patronymic}">patronymic</td>
            <td th:text="${patient.birthday}">birthday</td>
            <td th:text="${patient.phone}">phone</td>
            <td th:text="${patient.email}">email</td>
            <td th:text="${patient.additionalInfo}">additionalInfo</td>
            <td><a th:href="${'/patients/edit/' + patient.id}">Edit</a></td>
        </tr>
    </table>

    <div class="form-group">
        <label class="col-sm-2 control-label">Приемы:</label>

        <a th:href="${'/appointments/new/' + patient.id}">Новый прием</a>

        <table class="table table-striped">
            <tr>
                <th>дата приема</th>
                <th>лекарство</th>
                <th>дозировка</th>
                <th>время суток</th>
                <th>относительно еды</th>
                <!--<th>еда</th>-->
                <th>период приема(дни)</th>
                <th>начало приема</th>
                <th>прием с</th>
                <th>доп.инфа</th>
                <th>процедуры</th>
                <th>диета</th>
                <th>поведение</th>
            </tr>
            <tr th:each="appointment : ${appointments}">
                <!--<td th:text="${patient.name}">Name</td>-->
                <!--<td><a th:href="${'/patient/show/' + patient.id}">View</a></td>-->
                <td th:text="${appointment.date}">Date</td>
                <td th:text="${appointment.drug.code}">Drug</td>
                <td th:text="${appointment.dosage.value}">Dosage</td>
                <td th:text="${appointment.dayTime.value}">DayTime</td>
                <td th:text="${appointment.mealRelation.value}">MealRelation</td>
                <td th:text="${appointment.durationTakingMedicines}">DurationTakingMedicines</td>
                <td th:text="${appointment.beginningTakingMedicines}">BeginningTakingMedicines</td>
                <td th:text="${appointment.takeWith.value}">TakeWith</td>
                <td th:text="${appointment.additionalInfo}">AdditionalInfo</td>
                <td th:text="${appointment.procedures}">Procedures</td>
                <td th:text="${appointment.diet}">Diet</td>
                <td th:text="${appointment.lifestyle}">Lifestyle</td>
                <td><a th:href="${'/appointments/edit/' + appointment.id}">Edit</a></td>
            </tr>
        </table>

    </div>

</div>

</body>
</html>