<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head lang="en">

    <title>Tibet Doctor </title>

    <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->


    <a href="#" th:href="@{/patients/new}">Создать нового пациента</a>


    <div class="col-sm-8"><h2>Пациенты</h2></div>
    <input class="col-sm-6">
        <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Поиск по имени..."></input>
    </div>

<!--table tbody tr:nth-last-child(-n+3) {-->
<!--display: none;-->
<!--}-->

    <div id="myUL" th:if="${not #lists.isEmpty(patients)}">
        <!--<form th:action="@{/logout}" method="post">-->
        <!--<div class="col-sm-2" style="padding-top: 30px;">-->
        <!--<span sec:authorize="isAuthenticated()">-->


        <!--<input type="submit" value="Sign Out" />-->
        <!--</span>-->
        <!--</div>-->
        <!--</form>-->
        <table id="myTable" class="table table-striped">
            <tr>
                <!--<th>Id</th>-->
                <th>Surname</th>
                <th>Name</th>
                <th>Sex</th>
                <th>Назначения</th>
                <th>Edit</th>
                <th>Delete</th>
                <!--<th sec:authorize="hasAnyAuthority('USER','ADMIN')">View</th>-->
                <!--<th sec:authorize="hasAuthority('ADMIN')">Edit</th>-->
                <!--<th sec:authorize="hasAuthority('ADMIN')">Delete</th>-->
            </tr>
            <tr th:each="patient : ${patients}">
                <!--<td th:text="${patient.id}"><a href="/patient/${patient.id}">Id</a></td>-->
                <td th:text="${patient.surname}">Surname</td>
                <td th:text="${patient.name}">Name</td>
                <td th:text="${patient.sex}">Sex</td>
                <td><a th:href="${'/patients/' + patient.id}">Назначения</a></td>
                <td><a th:href="${'/patients/edit/' + patient.id}">Edit</a></td>
                <td><a th:href="${'/patients/delete/' + patient.id}">Delete</a></td>
                <!--<td sec:authorize="hasAnyAuthority('USER','ADMIN')"><a th:href="${'/product/show/' + product.id}">View</a></td>-->
                <!--<td sec:authorize="hasAuthority('ADMIN')"><a th:href="${'/product/edit/' + product.id}">Edit</a></td>-->
                <!--<td sec:authorize="hasAuthority('ADMIN')"><a th:href="${'/product/delete/' + product.id}">Delete</a></td>-->
            </tr>
        </table>

    </div>
</div>

<script th:inline="javascript">
    /*<![CDATA[*/
    function myFunction() {
        // Declare variables
        var input, filter, table, tr, td, i;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");

        // Loop through all table rows, and hide those who don't match the search query
        for (i = 1; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
                if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }

    /*]]>*/
</script>

<!--<p id="demo">Click the button to change the layout of this paragraph</p>

<script>
    function myFunction() {
        var x = document.getElementById("demo");
        x.style.fontSize = "25px";
        x.style.color = "red";
    }
</script>

<button onclick="myFunction()">Click Me!</button>-->

</body>
</html>